* {
    margin: 0;
    padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
list-style-type: none;
text-decoration: none;
}

a {
    color: #555;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
}


.menu-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 10rem;
    height: 4rem;
    border: none;
    overflow: hidden;
    z-index: 10;
}

.menu-btn div {
    font-size: 1.6rem;
    text-transform: uppercase;
    width: inherit;
    height: inherit;
    display: grid;
    place-items: center;
    perspective: 100rem;
    position: relative;
    top:0;
    transition: top 0.5s ease-in;
}

.change .menu-btn div {
    top:-4rem;
}

.menu-btn div:first-child {
    background-color: #c0ff61;
    color: #444;
}

.menu-btn div:last-child {
    background-color: #1e1e20;
    color: #c0ff61;
}

.menu-btn span {
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in;
    transform-origin: top;
}


.menu-btn span::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    transform: rotateX(-90deg);
    transform-origin:top;
}

.menu-btn div:first-child:hover span {
    transform: rotateX(90deg);
}

.menu-btn div:last-child:hover span {
    transform: rotateX(90deg);
}


.nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #c0ff61;
    width: 50rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0 5rem 5rem;
    box-sizing: border-box;
    transform: scale(0.2,0.06);
    transform-origin: 100% 0;
    transition: transform .5s .5s ease-in-out top 0.5s 0.5s right 0.5s 0.5s;
}

.change .nav {
    transform: scale(1);
    top:0;
    right: 0;
}

.nav-link {
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    transform: translate3d(2rem, 7rem, 0) rotateX(90deg);
    opacity: 0;
    display: block;
    height: 7rem;
}

.change .nav-link {
    transform: translate3d(0,0,0)rotateX(0);
    opacity: 1;
    transform: opacity 0.5s var(--i), transform 0.5s var(--i);
}

.socila-media {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}

.socila-media-group {
    font-size: 1.8rem;
    font-weight: 200;
    height: 3rem;
}

.letter {
    transition: font-weight 0.4s;
}

.letter:hover {
    font-weight: 900;
    color:#ccc;
}

.letter:hover + .letter{
    font-weight: 500;
    color: #ddd;
}

.letter:has(+ .letter:hover) {
    font-weight: 500;
    color: #ddd;
}